html {
      box-sizing: border-box;
}

*, ::after, ::before {
      box-sizing: inherit;
}

.body {
      background-image: url(../images/backgroundImage.jpg);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}