.main {
      display: flex;
      justify-content: center;
      margin: 50px 10px;
}

.form {
      margin-top: 50px;
      width: 500px;
      max-width: 600px;
}

.form__fieldset {
      border: 3px solid rgb(207, 165, 247);
      border-radius: 25px;
      background-color: rgb(85, 68, 85);
}

.form__fieldset--second {
      margin-top: 20px;
      height: 150px;
      max-height: 200px;
}

.form__legend {
      font-size: 25px;
      font-weight: bold;
      margin: auto;
      padding: 10px 10px;
      color: rgb(255, 255, 255);
      border: 1px solid rgb(207, 165, 247);
      border-radius: 20px;
      background-color: rgb(97, 73, 97);
}

.form__span {
      font-size: 20px;
      font-weight: bold;
      color: rgb(255, 255, 255);
      padding: 0px 10px;
}

.form__input {
      color: rgb(255, 255, 255);
      background-color: rgba(158, 147, 147, 0.452);
      border: 1px solid rgb(207, 165, 247);
      border-radius: 10px;
      width: 150px;
      height: 30px;
      margin-top: 15px;
}

.form__button {
      background-color: rgb(76, 58, 94);
      color: rgb(255, 255, 255);
      padding: 15px 5px;
      margin: 30px 0px;
      border-radius: 5px;
      border: none;
      width: 100%;
      text-transform: uppercase;
}

.form__button:hover {
      background-color: rgb(198, 157, 236);
}

.form__paragraph {
      font-size: 22px;
      font-weight: bold;
      padding: 0px 10px;
      color: rgb(255, 255, 255);
}

.footer {
      display: flex;
      justify-content: center;
      background-color: rgb(85, 68, 85);
      box-shadow: 0px 5px 5px rgb(224, 214, 214);
      color: rgb(255, 255, 255);
      padding: 10px 0px 10px 0px;
      margin: 20px 10px;
      font-size: 18px;
      font-weight: bold;
}